/* below is where the coding lives*/

body {
 background-color: hsl(149, 26%, 73%);
    padding: 50px 0;
}

.nav navbar navbar-inverse navbar-fixed-top navbar-right{
  
}
.navbar-custom {
    background-color:	black;
    color:#1E90FF;
    border-radius:1px;
}

.Home_text{
  font-size: 23px;
  text-align: center;
   font-family: Raleway;
}

.SocialMedia{
  font-size: 40px
}

.TopCoder{
  font-size: 20px;
   text-align: center;
  font-family:Raleway;
}


.my-conatiner{
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.my-container h1{
  padding: 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: Raleway;
  left: 0px;
  text-left: -15%;
  border-bottom-style: solid;
border-bottom-color: white;
   font-weight: bold;
  font-size: 75px;
  
  
}
p{
  font-family: Raleway;
  max-width:675px;
    text-align: center;
    margin-bottom:30px;
  font-weight: bold;
left: -200px;
  font-size: 20px;
  color: hsl(37, 91%, 99%);
    border-top-style: solid;
  border-top-color: white;
  color: black;
}
.background{
  background: hsl(135, 51%, 73%);
}
.my-container img{
  border-radius: 0px;
  max-width:200px;
  height:auto;
  float: middle;
}
h2{
  font-family: Raleway;
  font-size: 50px;
   border-top: white;
  border-bottom-color: white;
   border-bottom-style: solid;
}
.oprah{
  width: 320px;
    height: 180px;
    border-style: solid;
    border-color: black;
    border-width: medium;
}
h3{
  color: white;
}
h4{
  color: white;
}
.bottom-border{
  border-style: solid;
    border-bottom-color: white;
}
h5{
  color: white;
  font-family: Raleway;
  font-weight: bold;
   font-size: 25px;
}
h6{
  font-family: Raleway;
  font-weight: bold;
  border-top-color: white;
  border-top-style: solid;
}